:root {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
}
.App {
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(110vh);
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.overflow-hidden {
    overflow-y: hidden !important;
}

.overflow-hidden > section {
    overflow: scroll !important;
}

.overflow-scroll {
    overflow-y: scroll !important;
}
.App::-webkit-scrollbar {
    display: none;
}

section {
    /* border: 1px solid red; */
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    perspective: 500px;
    -webkit-perspective: 500px;
    scroll-margin: 0 0 0 0;
    display: flex;
    justify-content: center;

    align-items: flex-start;
}

section > div {
    height: 40%;

    width: clamp(100px, 50%, 1000px);
    font: 22px Arial;
    margin-top: 10rem;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
    background-size: 200%;
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.animate {
    background-position: left;
    will-change: transform;
    color: white;
    animation: leftToRight 1s ease-in-out;
    perspective: 1000px;
}

@keyframes leftToRight {
    0% {
        transform: translate3d(20px, -50px, -100px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.indicator {
    position: fixed;
    width: 100vw;
    bottom: 1%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.vl {
    margin-left: 2rem;
    border-left: 1px solid black;
    height: 30px;
    transition: 1s all ease-in-out;
}

.active {
    transform: translateY(-10px);
    border-left: 3px solid black;
}

.bigView {
    margin-top: 0;
    height: 100%;
    width: 100%;
}
